
body {
  background-color: #6c91db; 
  color: #000000;
  margin: 0;
}

body.dark-mode {
  color: #ffffff; 
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}

.content-container {
  min-height: 100vh;  
  box-sizing: border-box;
}


html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode .content-container {
  background-color: #00032edc;
}


