/* .page-transition-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: black; 
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  transition: width 0.8s ease-in-out, height 0.8s ease-in-out;
}

.page-transition-overlay.expand {
  width: 150vw; 
  height: 150vh;
} */



body {
  background-color: #ffffff; /* Light mode default */
  color: #000000;
}

body.dark-mode {
  background-color: #121212; /* Dark mode background */
  color: #ffffff; /* Dark mode text color */
}

/* You can add other dark mode styles for specific components */

